#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        reset_right {
            bindings = <&bootloader>;
            key-positions = <16 28 43>;

            // layers = <0 2>;
        };

        reset_left {
            bindings = <&bootloader>;
            key-positions = <15 27 34>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q      &kp W         &kp E    &kp R      &kp T                                            &kp Y       &kp U        &kp I      &kp O    &kp P
&kp A      &kp S         &kp D    &kp F      &kp G       &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp H       &kp J        &kp K      &kp L    &kp SEMI
&kp Z      &kp X         &kp C    &kp V      &kp B       &kp MINUS         &kp SINGLE_QUOTE   &kp N       &kp M        &kp COMMA  &kp DOT  &kp FSLH
&kp LCTRL  &kp LEFT_GUI  &kp TAB  &kp SPACE  &kp LSHIFT                                       &kp RSHIFT  &lt 1 ENTER  &kp BSPC   &kp ESC  &kp RALT
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &bt BT_NXT  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &bt BT_PRV  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &bt BT_CLR_ALL
            >;
        };
    };
};
